# --- Servidor ---
PORT=3000
NODE_ENV=development

# --- Base de datos PostgreSQL (huellitas_saludables) ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=proyectohs
DB_USER=postgres
DB_PASSWORD=H4ll1t4s_V3t_2026_S3cur3_M3d_B4ckend

# --- CORS ---
CORS_ORIGIN=*

# --- JWT (autenticación) ---
JWT_SECRET=cbe1dbfd2072cbf05cb6631c569d17200e14c088fcd58f52d301f81f4fa00d12f8e3d402a6960346998d593d767edf3084ca85fab4edbf78f52